[submodule "static/directory"]
	path = static/directory
	url = https://github.com/openplantpathology/opp_members_directory
	ignore = dirty
[submodule "content/notes"]
	path = content/notes
	url = https://github.com/openplantpathology/opp_notes/
	ignore = dirty
