.Rproj.user/
.Rhistory
.RData
.Ruserdata
blogdown
*.html
.DS_Store
static/notes/sparks
static/rmarkdown-libs/kePrint/kePrint.js
Official Website of Open Plant Pathology.Rcheck/
Official Website of Open Plant Pathology*.tar.gz
Official Website of Open Plant Pathology*.tgz
