# Configuration of Academic
# Documentation: https://sourcethemes.com/academic/

# The URL of your website.
# End your URL with a `/` trailing slash, e.g. `https://example.com/`.
baseurl = "https://openplantpathology.org/"
 
# Title of your site
title = "Open Plant Pathology"

# Your copyright notice - appears in site footer.
# To display a copyright symbol, type `&copy;`.
copyright = "&copy; 2019"

theme = "hugo-academic"
enableEmoji = true
footnotereturnlinkcontents = "<sup>^</sup>"
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_files$", "_cache$"]
preserveTaxonomyNames = true
paginate = 10

# Enable comments by entering your Disqus shortname
disqusShortname = "openplantpathology"

# Enable analytics by entering your Google Analytics tracking ID
googleAnalytics = "UA-112255011-1"

# Default language to use (if you setup multilingual support)
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

[outputs]
  home = [ "HTML", "CSS", "RSS" ]
  section = [ "HTML", "RSS" ]

# Configure BlackFriday Markdown rendering.
#   See: https://gohugo.io/readfiles/bfconfig/
[blackfriday]
  hrefTargetBlank = true  # `true` opens external links in a new tab.
  fractions = true  # `false` disables smart fractions (e.g. 5/12 formatted as a fraction).
  smartypants = true  # `false` disables all smart punctuation substitutions (e.g. smart quotes, dashes, fractions).


[params]
  # Color theme.
  #   Choose from `default`, `ocean`, `forest`, `coffee`, `dark`, or `1950s`.
  color_theme = "default"

  # Font style.
  #   Choose from `default`, `classic`, or `playfair`.
  font = "default"

  # Your details.
  name = "Open Plant Pathology"
  role = "Open data and tools for advancing plant pathology"

  # Organizations/Affiliations.
  #   Separate multiple entries with a comma, using the form: `[ {name="Org1", url=""}, {name="Org2", url=""} ]`.
  organizations = [ { name = "", url = "" } ]

  gravatar = false  # Get your avatar from Gravatar.com? (true/false)
  avatar = "opp-logo.png"  # Specify an avatar image (in `static/img/` folder) or delete value to disable avatar.
  email = "openplantpathology@gmail.com"
  address = ""
  office_hours = ""
  phone = ""
  skype = ""
  telegram = ""

  # Enable Keybase in Contact widget by entering your keybase.io username.
  keybase = ""

  # Discussion link (e.g. link to a forum, mailing list, or chat).
  #   Uncomment line below to use.
  #   discussion = { name = "Discuss", url = "https://discourse.gohugo.io" }

  # Diplay a logo in navigation bar rather than title (optional).
  #   To enable, place an image in `static/img/` and reference its filename below. To disable, set the value to "".
  logo = "opp-logo.png"

  # Enable/disable map in Contact widget.
  # To show your address on a map in the contact widget, you need to enter your latitude, longitude and choose
  # a map provider below.
  # To use Google Maps, set `map = 1` and enter your API key that can be obtained here:
  #   https://developers.google.com/maps/documentation/javascript/get-api-key
  # To use OpenStreetMap tiles, set `map = 2`.
  # To use OpenStreetMap on a high traffic site, set `map = 3` and enter your API key that can be obtained here:
  #   https://www.mapbox.com/studio/account/tokens
  # To get your coordinates, right-click on Google Maps and choose "What's here?". The coords will show up at the bottom.
  #
  # Map provider:
  #   0: No map
  #   1: Google Maps
  #   2: OpenStreetMap (Mapnik)
  #   3: OpenStreetMap (Mapbox)
  map = 0
  map_api_key = ""
  latitude = "37.4275"
  longitude = "-122.1697"
  zoom = 15

  # Date and time format (refer to Go's date format: http://fuckinggodateformat.com )
  #   Examples: "Mon, Jan 2, 2006" or "2006-01-02"
  date_format = ""
  #   Examples: "3:04 pm" or "15:04"
  time_format = "3:04 PM"

  # Show estimated reading time for posts?
  reading_time = false

  # Display comment count? Requires commenting to be enabled.
  comment_count = true

  # Display section pager for posts?
  section_pager = false

  # Enable global LaTeX math rendering?
  #   If false, you can enable it locally on a per page basis.
  math = true

  # Highlight.js options
  #   highlight
  #     Enable global source code highlighting?  If false, you can
  #     override it for a particular page in that page's preamble.
  #
  #     Example: highlight = true
  #
  #   highlight_languages
  #     Add support for highlighting additional languages. Support for
  #     languages mentioned here will be included in all pages. You
  #     can also set this variable for a particular page in that
  #     page's preamble.
  #
  #     Example: highlight_languages = ["go", "lisp", "ocaml"]
  #
  #   highlight_style
  #     Choose a different CSS style for highlighting source
  #     code. Setting this option in a page's preamble has no
  #     effect.
  #
  #     Example: highlight_style = "github-gist"
  #
  #   For the list of supported languages and styles, see:
  #   https://cdnjs.com/libraries/highlight.js/
  #
  #   For more info on the highlighting options, see:
  #   https://sourcethemes.com/academic/post/writing-markdown-latex/#highlighting-options
  highlight = false
  highlight_languages = []
  #highlight_style = "github"

  # Enable native social sharing buttons?
  sharing = true

  # Link custom CSS and JS assets
  #   (relative to /static/css and /static/js respectively)
  custom_css = []
  custom_js  = []

  # Publication types.
  #   Used to categorize publications.
  #   The index of the publication type in the list is used as its unique numerical identifier.
  #   The numeric ID is used in a publication's frontmatter to categorize it.
  #   The language can be edited below.
  #   For multilingual sites, `publication_types` can be copied to each language section at the end of this file and
  #   translated.
  publication_types = [
    'Uncategorized',  # 0
    'Teaching article',  # 1
    'Journal article',  # 2
    'Manuscript',  # 3
    'Report',  # 4
    'Book',  # 5
    'Book section'  # 6
  ]

  # Configuration of talk pages.
  [params.talks]
    # Show talk time?
    time = true

  # Configuration of publication pages.
  [params.publications]
    # Date format (refer to Go's date format: http://fuckinggodateformat.com )
    #   Examples: "Mon, Jan 2, 2006" or "2006-01-02"
    date_format = "Jan 2, 2006"

  # Configuration of project pages.
  [params.projects]
    # List publications and talks related to the project?
    list_children = true

    # Publication list format.
    #   0 = Simple
    #   1 = Detailed
    #   2 = APA
    #   3 = MLA
    publication_format = 3

  # Social/Academic Networking
  #
  # Icon pack "fa" includes the following social network icons:
  #
  #   twitter, weibo, linkedin, github, facebook, pinterest, google-plus,
  #   youtube, instagram, soundcloud
  #
  #   For email icon, use "fa" icon pack, "envelope" icon, and
  #   "mailto:your@email.com" as the link.
  #
  #   Full list: https://fontawesome.github.io/Font-Awesome/icons/
  #
  # Icon pack "ai" includes the following academic network icons:
  #
  #   google-scholar, arxiv, orcid, researchgate, mendeley
  #
  #   Full list: https://jpswalsh.github.io/academicons/

  [[params.social]]
    icon = "envelope"
    icon_pack = "fa"
    link = "mailto:openplantpathology@gmail.com"

  [[params.social]]
    icon = "twitter"
    icon_pack = "fa"
    link = "//twitter.com/OpenPlantPath"

  [[params.social]]
    icon = "github"
    icon_pack = "fa"
    link = "//github.com/openplantpathology"

  [[params.social]]
    icon = "slack"
    icon_pack = "fa"
    link = "//openplantpathology.slack.com"

# Navigation Links
#   To link a homepage widget, specify the URL as a hash `#` followed by the filename of the
#     desired widget in your `content/home/` folder.
#   The weight parameter defines the order that the links will appear in.

[params.menus]
  # Align the main menu to the right of the page? (true/false)
  align_right = true

#[[menu.main]]
#  name = "Publications"
#  url = "#publications_selected"
#  weight = 2
 
 

[[menu.main]]
  name = "About OPP"
  weight = 1

 
[[menu.main]]
  name = "Vision and Mission"
  parent = "About OPP"
  url = "pages/mission"
  weight = 1



[[menu.main]]
  name = "Leadership"
  url = "#people"
  parent = "About OPP"
  weight = 3

[[menu.main]]
  name = "Member directory"
  url = "#members"
  parent = "About OPP"
  weight = 2
  

 
[[menu.main]]
  name = "Blog posts & Interviews"
  pre = "<i class='fa fa-pencil'></i>"
  url = "#posts"
  weight = 4
  
[[menu.main]]
  name = "Talks & Workshops"
  pre = "<i class='fa fa-pencil'></i>"
  url = "#talks"
  weight = 8
  
  
[[menu.main]]
  name = "Recent & upcoming talks"
  url = "#talks"
  weight = 1
  parent = "Talks & Workshops"

[[menu.main]]
  name = "Chronological list of events"
  url = "/talk"
  weight = 2
  parent = "Talks & Workshops"
  

  
[[menu.main]]
  name = "OPP Notes"
  pre = "<i class='fa fa-sticky-note'></i>"
  weight = 6


[[menu.main]]
  name = "Recent Notes"
  url = "#publications"
  weight = 1
  parent = "OPP Notes"

[[menu.main]]
  name = "Browse Notes"
  url = "/publication"
  weight = 2
  parent = "OPP Notes"
  
[[menu.main]]
  name = "Contribute a Note!"
  url = "https://github.com/openplantpathology/opp_notes"
  weight = 3
  parent = "OPP Notes"
  

[[menu.main]]
  name = "Social"
  pre = "<i class='fa fa-hashtag'></i>"
  weight = 14

[[menu.main]]
  name = "Check our GitHub repos"
  pre = "<i class='fa fa-github'></i>"
  url = "https://github.com/openplantpathology/"
  weight = 1
  parent = "Social"

[[menu.main]]
  name = "Follow us on Twitter"
  pre = "<i class='fa fa-twitter-square'></i>"
  url = "https://twitter.com/OpenPlantPath/"
  weight = 2
  parent = "Social"

[[menu.main]]
  name = "Sign in to our Slack"
  pre = "<i class='fa fa-slack'></i>"
  url = "https://openplantpathology.slack.com/"
  weight = 3
  parent = "Social"
  
[[menu.main]]
  name = "Not in our Slack? sign up here!"
  pre = "<i class='fa fa-rocket'></i>"
  url = "https://communityinviter.com/apps/openplantpathology/open-plant-pathology"
  weight = 4
  parent = "Social"


#[[menu.main]]
#  name = "Contacts"
#  url = "#contact"
#  weight = 12
#  parent = "Social"


# Taxonomies.
[taxonomies]
  tag = "tags"
  category = "categories"
  publication_type = "publication_types"

# Languages
#   Create a [languages.X] block for each language you want, where X is the language ID.

# Configure the English version of the website.
[Languages.en]
  languageCode = "en-us"
